@model IEnumerable<WeeklyGoals.Models.Goal>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p id="date" align="right"></p>

<script type="text/javascript">
    var date = new Date();
    document.getElementById("date").innerHTML = date.toDateString();
</script>

<label for="meeting">Meeting Date : </label>
<input id="meeting" type="date" />
<a asp-action="Details" asp-route-id="2"/>Submit</a>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WeeklyTarget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StepSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var goal in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => goal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => goal.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => goal.WeeklyTarget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => goal.StepSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => goal.Unit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@goal.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@goal.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@goal.Id">Delete</a>
            </td>
        </tr>
        @*<a asp-action="UpdateProgress" asp-route-id="@goal.ID" asp-route-multiplicator="-1">-</a>
            <progress max="100" value="@goal.Progress"></progress>
            <a asp-action="UpdateProgress" asp-route-id="@goal.ID" asp-route-multiplicator="1">+</a>*@

}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>@ViewData["Total"]</td>
        </tr>
    </tbody>
</table>
