@model MainViewModel

@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Select" asp-controller="Home">
            <div>
                @Html.DropDownListFor(m => m.SelectedWeek, Model.Weeks, "Select Week")
            </div>
            <div class="form-group">
                <input type="submit" value="Set" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create" asp-route-selectedWeekId="@Model.SelectedWeek.Id">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Goal Name")
            </th>
            <th>
                @Html.Label("Description")
            </th>
            <th>
                @Html.Label("Progress")
            </th>
            <th>
                @Html.Label("Target")
            </th>
            <th>
                @Html.Label("Unit")
            </th>
            <th>
                @Html.Label("Progress")
            </th>
            <th>
                @Html.Label("Points")
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SelectedWeek.Progress)
            {
            <tr>
                <td>
                    @item.Goal.Name
                </td>
                <td>
                    @item.Goal.Description
                </td>
                <td>
                    @item.Goal.StepSize
                </td>
                <td>
                    @item.Goal.WeeklyTarget
                </td>
                <td>
                    @item.Goal.Unit
                </td>
                <td>
                    <button type="button" onclick="updateProgress(@item.Id, -1)">-</button>
                    <progress max="@item.Goal.WeeklyTarget" value="@item.Points" id="progress_@item.Id" data-toggle="tooltip" title="@item.Points @item.Goal.Unit"></progress>
                    <button type="button" onclick="updateProgress(@item.Id, 1)">+</button>
                </td>
                <td id="total_@item.Id">@item.ActualPoints</td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Goal.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Goal.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-progressId="@item.Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td />
            <td />
            <td />
            <td />
            <td />
            <td>
                <progress max="@Model.Total" value="@Model.RunningTotal" data-toggle="tooltip" title="@Model.OverallPercentage %"></progress>
            </td>
            <td />
        </tr>
    </tbody>
</table>