<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeeklyGoals</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Home" asp-action="Logout">Logout</a>
        }
        @RenderBody()
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    @if (User.Identity.IsAuthenticated)
    {
        foreach (var identity in User.Identities)
        {
            <h3>identity.Name</h3>
            <ul>
                @foreach (var c in identity.Claims)
                {
                    <li>@c.Type - @c.Value</li>
                }
            </ul>
        }
    }
    else
    {
        <div>Anonymous</div>
    }
</body>
</html>